<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/_form :: dynamic(
				~{::main},
				~{::#aside},
				~{::#material}
				)}">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<th:block id="aside"></th:block>

	<main>
		<div id="content">
			<div th:replace="/user/home/trangchu.html"></div>
<!--			<div th:replace="/user/home/latest_product.html"></div>-->
			
<!--			<div th:replace="/user/home/featured_products.html"></div>-->
		</div>
	</main>

</body>
</html>